<div class="w3-main" style="margin-left:40px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-address-card"></i>  New Client</b></h5>
  </header>

<div class="w3-row-padding w3-responsive" style="overflow-x:auto">
    <form action="/clients" method="post">
    <label class="w3-panel">Name: </label>
    <input type="text" name="client[name]">

    <label class="w3-panel">Contact Number: </label>
    <input type="text" name="client[contact_number]">

    <label class="w3-panel">Email: </label>
    <input type="text" name="client[email]">

    <label class="w3-panel">1st Line of Address: </label>
    <input type="text" name="client[address1]">

    <label class="w3-panel">2nd Line of Address: </label>
    <input type="text" name="client[address2]">

    <label class="w3-panel">Postcode: </label>
    <input type="text" name="client[postcode]">

    <label class="w3-panel">City: </label>
    <input type="text" name="client[city]">

    <label class="w3-panel">Additional Info: </label>
    <input type="text" name="client[add_info]">
    <p></p>

    <div class="w3-bar">

    <button class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top" type="submit">
    Create Client
    </button>
    
    <a href="/dashboard" class="w3-button w3-orange w3-padding-large w3-large w3-margin-top">
    Go back
    </a>
    </div>

</div>
