<div class="w3-conatiner">

<img src="./public/images/account_avatar.png">

<form action="/users/login" method="GET">
  <button class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top" type="submit" name="submit">
  Log In
  </button>
</form>


<form action="/users/signup" method="GET">
  <button class="w3-button w3-green w3-padding-large w3-large w3-margin-top" type="submit" name="submit">
  Create Account
  </button>
</form>

</div>