<form action="/users/login" method="GET">
  <input type="submit" name="submit" value="Log in">
</form>

<br>

<form action="/users/signup" method="GET">
  <input type="submit" name="submit" value="signup">
</form>