<div class="w3-row-padding w3-responsive" style="overflow-x:auto">
    <form action="/cases" method="post">
    
    
    <label class="w3-panel">Status: </label>
    <select name="kase[status]">
        <option selected="selected" value="Open">Open</option>
        <option value="Closed">Closed</option>
        <option value="Open">N/A</option>
    </select>

    <label class="w3-panel">Open Date: </label>
    <input type="date" name="kase[open_date]">

    <label class="w3-panel">Close Date: </label>
    <input type="date" name="kase[close_date]">

    <label class="w3-panel">Additional Info: </label>
    <textarea name="kase[add_info]"></textarea>
    <p></p>

    <button class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top" type="submit">
    Create Case
    </button>

</div>