<div class="w3-main" style="margin-left:40px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-folder"></i>  Cases</b></h5>
  </header>

<div class="w3-row-padding w3-responsive" style="overflow-x:auto">
    <form action="/clients/<%=@client.id%>/cases" method="post">
  
    <label class="w3-panel">Status: </label>
    <select name="kase[status]">
        <option selected="selected" value="Open">Open</option>
        <option value="Closed">Closed</option>
        <option value="Open">N/A</option>
    </select>

    <label class="w3-panel">Open Date: </label>
    <input type="date" name="kase[open_date]">

    <label class="w3-panel">Close Date: </label>
    <input type="date" name="kase[close_date]">


    <label class="w3-panel">Additional Info: </label>
    <textarea name="kase[add_info]"></textarea>
    
    <br>
    <div class="w3-padding w3-third">

    <select size="5" name="kase[owner]" required>
        <%@users.each do |user|%>
            <option value="<%=user.id%>"><%=user.username%></option>
        <%end%>
      </select>  

      </div>
      <div class="w3-bar">

    <button class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top" type="submit">
    Create Case
    </button>

    </div>
    </form>

  </div>
  
</div>