

<div class="w3-row-padding w3-responsive" style="overflow-x:auto">
        
    <ul class="w3-ul w3-border">
    <li><h4><%=@note.title%></h4></li>
    
    <li><%=@note.content%></li>
    <p></p>
    </ul>

</div>